<div class="text-center">
  <main class="form-auth">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Name", autocomplete: "name" %>
      <%= f.email_field :email, class: "form-control", placeholder: "Email address", autocomplete: "email" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password (6 characters min)", autocomplete: "new-password" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation", autocomplete: "new-password" %>

      <div class="form-floating">
        Type:
        <%= f.select(:type) do %>
          <% [['Manager', 'Manager'], ['Developer', 'Developer'], ['QA', 'Qa']].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
      </div><br />


      <div class="actions">
        <%= f.submit "Sign up", class: "w-100 btn btn-lg btn-dark" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </main>
</div>