<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<h2>Bugs</h2>
<%= render @project.bugs.order("created_at") %>

<h2>Developers</h2>
<%= render partial: "users/user", collection: @project.developers %>

<h2>QAs</h2>
<%= render partial: "users/user", collection: @project.qas %>

<% if @project.manager == current_user %>
  <h2>Add Developers and QAs</h2>
  <%= render partial: "users/add", collection: @project.addable_users(current_user) %>

  <h2>Remove Developers and QAs</h2>
  <%= render partial: "users/remove", collection: @project.removable_users(current_user) %>
<% end %>

<% if current_user.type == 'Qa' %>
  <h2>Report a bug:</h2>
  <%= render 'bugs/form' %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
