<%= form_with(model: [ @project, @project.bugs.build ], local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :deadline %><br>
    <%= form.datetime_select :deadline %>
  </p>

  <p>
    <%= form.radio_button :category, :feature %> 
    <%= form.label :category, 'Feature', value: :feature %>
    <%= form.radio_button :category, :bug %>
    <%= form.label :category, 'Bug', value: :bug %>
  </p>

  <p>
  <%= form.label :status %><br>
    <%= form.select :status, Bug.statuses.map { |key, value| [key.humanize, key] } %>
  </p>
   
  <p>
    <%= form.submit %>
  </p>
<% end %>


